html, body {
    height: 100%;
    width: 100%;
    background: #1abc9c;
}

.caja {

    background-color: #efefef;
    width: 500px;
    margin: 50px auto 0 auto;
    border-radius: 10px;
}

.caja h2 {
    padding: 0;
    margin: 0;
}

.caja .cuerpo {
    padding: 15px;
    background: white;
}

.caja .cuerpo input, textarea {
    padding: 15px 10px;
    outline: none;
    border: none;
}
.caja .cuerpo textarea {
    color: gray;
    text-align: left;
    width: 90%;
}

.caja .fila {
    border-bottom: 1px solid #efefef;
}

.caja header {
    padding: 15px;
}

.caja header h2 {
    font-family: 'Fira Sans Condensed', sans-serif;
    color: gray;
}

.caja footer {
    padding: 15px;
    position: relative;
    // height: 25px;

}

.caja footer input[type="button"]{
    background: #e74c3c;
    font-family: 'Fira Sans Condensed', sans-serif;
    color: white;
    padding: 5px;
    border-radius: 4px;
    position: absolute;
    right: 10px;
    top: 8px;

}
.caja footer .entry span{
    color: #2980b9;
}




